@font-face {
  font-family: 'hkgrotesk';
  font-style: normal;
  font-weight: normal;
  src: url('../font/hkgrotesk-regular.otf') format('opentype');
}

@font-face {
  font-family: 'hkgrotesk';
  font-style: italic;
  font-weight: normal;
  src: url('../font/hkgrotesk-italic.otf') format('opentype');
}

@font-face {
  font-family: 'hkgrotesk';
  font-style: normal;
  font-weight: 500;
  src: url('../font/hkgrotesk-medium.otf') format('opentype');
}

@font-face {
  font-family: 'hkgrotesk';
  font-style: italic;
  font-weight: 500;
  src: url('../font/hkgrotesk-mediumitalic.otf') format('opentype');
}

@font-face {
  font-family: 'hkgrotesk';
  font-style: normal;
  font-weight: bold;
  src: url('../font/hkgrotesk-bold.otf') format('opentype');
}

@font-face {
  font-family: 'hkgrotesk';
  font-style: italic;
  font-weight: bold;
  src: url('../font/hkgrotesk-bolditalic.otf') format('opentype');
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

body {
  color: #181818;
  font-family: "hkgrotesk";
  font-style: normal;
  font-weight: normal;
}

body > header {
  align-items: center;
  background-color: white;
  display: none;
  height: 10vh;
  justify-content: flex-end;
  left: 50%;
  opacity: 95%;
  padding: 0 4vh;
  position: fixed;
  transform: translateX(-50%);
}

header nav {
  padding: 0;
  justify-content: flex-end;
}

header nav ol {
  font-weight: 500;
}

header nav ol:last-of-type, nav ul:last-of-type {
  margin-right: 0;
}

header nav li {
  padding: 0 0 0 1vw
}

body > main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../img/background.svg");
  background-position: center top;
  background-size: contain;
  margin-top: 10vh;
  padding: 0;
}

figure, section {
  display: flex;
  margin-bottom: 0;
}

figure {
  align-items: center;
  flex-direction: column;
}

figure img {
  width: 50%;
}

figure figcaption {
  color: #181818;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  padding: 30px;
}

section {
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px 40px;
}

a {
  background-color: transparent;
  color: #181818;
}

a:hover {
  color: #bfbfbf;
  text-decoration: none;
  transition: 0.25s;
}

button {
  align-items: center;
  background-color: #181818;
  border: none;
  border-radius: 0;
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  font-weight: 600;
  height: 50px;
  justify-content: center;
  margin: 0;
  min-width: 175px;
  max-width: 225px;
  padding: 0;
  width: 18vw;
}

button:hover {
  background-color: black;
  transition: 0.25s;
}

button img {
  border-radius: 0;
  margin-right: 10px;
  padding: 0;
  width: 25px;
}

@media (max-width: 575px) {
  body > main {
    background-size: auto 100%;
    min-height: calc(660px - 10vh);
  }

  figure img, button {
    width: 200px;
  }
}

@media (min-width: 576px) {
  body > main {
    min-height: calc(430px - 10vh);;
  }

  figure img {
    width: 30%;
  }
}

@media (min-width: 768px) {
  body > main {
    min-height: calc(558px - 10vh);
  }

  figure img {
    width: 25%;
  }
}

@media (min-width: 992px) {
  body > main {
    min-height: calc(706px - 10vh);
  }
}

@media (min-width: 1200px) {
  body > main {
    min-height: calc(850px - 10vh);
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: white;
  }
}
